.algolia-reindex--status-wrap,
.algolia-reindex-wc--status-wrap {
  display:none;
    overflow: hidden;
  border: 1px solid #23282d;
    border-radius: 10px;
  margin: 20px 0;
  span {
    display: block;
    width:1px;
    color: #fff;
    background-color: #0085ba;
    text-align: center;
    line-height: 31px;
      font-size: 18px;
    transition: width 2s, height 4s;
  }
}

.algolia-post_type--table { width: 100%; margin-top: 20px; border-collapse: collapse; text-align: left;
  td, th { border: 1px solid #c7c7c7; padding: 10px; }
  thead tr, tbody tr { background-color: #fff; }
  tbody tr:nth-child(even) { background-color: #f5f5f5; }
}