#home-search-bar {
    input[type=text]::-ms-clear { display: none; width : 0; height: 0; }
    input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }
    input[type="search"] { -webkit-appearance: none; }
}

.algolia-search {
    position: relative;
    width: 100%;
    display: none;

    .algolia-search-bar {
        .aa-Form { display: flex; }

        .aa-InputWrapper {
            flex-basis: 100%;

            input { width: 100%; padding: 1em; font-family: calluna-sans, sans-serif !important }
        }

        .aa-InputWrapperSuffix {
             flex-basis: auto;

             button { height: 57px; width: 57px; }
        }

        .aa-InputWrapperPrefix,
        .aa-InputWrapperSuffix {
            display: none;
        }

        .aa-ClearButton {
            background-color: #bf0042;
            border: none;
        }
    }

    .algolia-search-results {
        position: absolute;
        width: 100%;
        z-index: 99;
        background-color:  white;
        border: 1px solid #ccc;

        ul.aa-List {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        li.aa-Item { 
            padding: 0.4em 0.8em 0 0.8em;
            &:hover, &:hover a {
                background-color: #f0f0f0;
                text-decoration: none;
            }

            &:hover .suggestion-keywords,
            &:hover .suggestion-post-title,
            &:hover .suggestion-post-content,
            &:hover .aa-ItemActionButton {
                cursor: pointer;
            }

            >div {
                border-bottom: 1px solid #ccc;
                padding-bottom: 0.4em;
            }

            // Suggestion / history plugin
            .aa-ItemWrapper {
                display: flex;

                .aa-ItemContent { flex-basis: 100%; }
                .aa-ItemActions { flex-basis: 60px; }
            }

            .aa-ItemIcon {
                display: inline-block; 
                width: 20px;
            }

            .aa-ItemContentBody {
                display: inline-block;
                margin-left: 5px;
            }

            .aa-ItemActions .aa-ItemActionButton {
                display: inline-block;
                width: 20px;
                background: none;
                border: none;
                padding: 0;
                margin-top: 5px;
                position: static;
            }
        }

        .suggestion-link {
            display: block;
            color: black;
            text-decoration: none;

            &.highlighted {
                outline: 1px dashed #bf0042;
            }

            .suggestion-post-title {
                font-weight: bold;
            }

            .suggestion-post-content {
                display: block;
                font-size: 1rem;

                .suggestion-highlight {
                    font-size: 1rem;
                    background-color: transparent;
                    color: #bf0042;
                }
            }

            .suggestion-keywords {
                font-size: 0.9rem;
                color: #595959;
            }
        }

        .aa-ItemContentBody mark, .suggestion-highlight {
            font-weight: bold !important;
            background-color: transparent;
            color: #bf0042;
        }

        .aa-SourceHeader, .aa-SourceNoResults {
            padding: 0.4em 0.8em;
            h3 { font-size: 1rem; margin-bottom: 0; }
        }

        .aa-SourceFooter {
            padding: 0.4em 0.8em;
            &:hover, &:hover a, &:hover a span {
                background-color: #f0f0f0;
                text-decoration: none;
            }
        }
    }
}

.search-results-list {
    .search-excerpt {
        .suggestion-highlight {
            font-weight: bold;
            background-color: transparent;
            color: #bf0042;
        }
    }
}

.search-results-list {
    .search-cards .card-small:hover {
        mark.suggestion-highlight {
            color: #bf0042;
        }
    }

    mark.suggestion-highlight {
        background: transparent;
        color: #bf0042;
        font-weight: bold;
    }
}